@mixin cover {
    overflow: hidden;
    min-height: 100vh;
    width: 80vw;
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

    .blur & {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }
}

.intro {
    text-align: center;
    color: #aaa;
    font-weight: bold;
    font-size: 24px;
    margin-top: 24vh;
}

.question {

    text-align: center;
    color: #555;
    font-size: 50px;

    input {
        text-align: center;
        font-style: italic;
        color: #333;
        font-size: 50px;
        border-radius: 6px;
        transition: background-color .3s;

        &#b-month {
            width: 5em; 
        }

        &#b-date {
            width: 2em;
        }

        &#b-year {
            width: 3em;
        }

        &:hover {
            background: #eee;
        }

        &:focus {
            background: #eee;
            outline: none;
        }

    }

}

.prompt-container {
    
    @include cover;
    
}

.dot-container {

    @include cover;

    #dots-lived, #dots-total {
        height: 0;
        overflow: visible;
        position: relative;
        box-sizing: border-box;
    }

    #dots-lived > div {
        background: url("/sprites/lived.png") repeat;
        background-size: 5px;
    }

    #dots-total > div {
        background: url("/sprites/left.png") repeat;
        background-size: 5px;
    }

    .rect {
        width: 100%;
        height: 0; /* height set by JS */
    }

    .line {
        height: 5px;
        width: 0; /* width set by JS */
    }

}

button.go {

    display: block;
    margin: 0 auto;
    font-size: 36px;
    font-family: $font-family;
    width: 5em;
    height: 1.5em;
    box-shadow: none;
    color: $accent-color;
    border: 2px solid $accent-color;
    border-radius: 8px;
    background: transparent;
    transition: color .2s, background-color .2s;
    cursor: pointer;
    line-height: 1.5em;

    &:hover {
        color: $bg-color;
        background: $accent-color;
    }

    &:active {
        opacity: 0.9;
    }

}

.about {
    position: fixed;
    font-family: $font-family;
    font-size: 20px;
    right: 60px;
    top: 40px;
    cursor: pointer;
    z-index: 10;

    &:hover {
        text-decoration: underline;
    }
}
