/* vars */
$bg-color: #e9e9e9;
$font-family: "Baskerville", "Times New Roman", serif;
$font-color: #333333;

$dot-radius: 2px;
$dot-color: #990033;
$accent-color: #234567;

/* resets */

body, html, iframe, div, input {
    margin: 0;
    outline: none;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: $bg-color;
    height: 100vh;
    width: 100vw;
    font-family: $font-family;
    
    /* cover bottom border */
    margin-bottom: 8px;

    &::after {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 6px;
        width: 100%;
        background: $accent-color;
    }

}

input {
    background: $bg-color;
    font-family: $font-family;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
